<form class="form-signin" action="/users/signup" method="POST">
    <% if (success_msg != false) { %>
        <div class="alert alert-success">
          <%= success_msg %>
        </div>
      <% } %>
      <% if (error_msg != false) { %>
        <div class="alert alert-danger">
          <%= error_msg %>
        </div>
      <% } %>    
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="username" name='username' required autofocus />
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password' required autofocus/>  

    <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" name='confirmPassword' required autofocus/>  
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>